# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.Python
.venv/
venv/
ENV/
env/

# Firebase & Secrets
serviceAccountKey.json
*.json
!.github/*.json
!vercel.json
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
