# Node
node_modules/
backend/server/node_modules/
server/**/node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.Python
.venv/
venv/
# Python venvs
.venv/
venv/
backend/server/python/.venv/

# Firebase service account
backend/server/python/serviceAccountKey.json

# Environment
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
